body{
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #004d95;
}

button{
    color: white;
    border: none;
    font-size: large;
    border-radius: 25px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    height: 2.5rem;
    background-color: rgba(0,22,42,.3);
}

button:hover{
    cursor: pointer;
    scale: 1.1;
}

button:active{
    scale: 1;
    background-color: rgba(0,22,42,.9);
}

.titleText{
    font-size: xx-large;
    font-weight: bolder;
    line-height: 40px;
}
 
.subtitleText{
    font-size: x-large;
    font-weight: bold;
}

.subText{
    font-size: large;
}

.header{
    display: flex;
     align-items: center;
     justify-content: space-between;
     height: 15vh;
     background-color: #00386b;
     padding-left: 200px;
     padding-right: 200px;
}

.header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
}

.hero .heroText{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.hero .subText{
    width: 55%;
}



.whatWeTransfer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
}

.whatWeTransfer .logoContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,22,42,.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.whatWeTransfer .logoContainer img{
    scale: 0.8;
}

.oddPart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 80px;
    background-color: #00386b;
}

.oddPart img{
    scale: 0.8;
}

.oddPart .oddPartText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.evenPart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 80px;
}

.evenPart img{
    scale: 0.8;
}

.evenPartText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.testimonials{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 80px;
    gap: 1rem;
}

.testimonials .testimonialContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 1rem;
    height: fit-content;
    width: calc(100%/3);
    text-align: center;
    padding: 1rem;
    background-color: rgba(0,22,42,.3);
}

.ourMission{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 1rem;
    background-color: #00386b;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer .address{
    width: 20;
}

.footer .hours{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer .hours .hoursList{
    display: flex;
    gap: 2rem;
}

.footer .address,
.footer .contacts,
.footer .hours{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    scale: 0.8;
}