.oddPart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 80px;
    background-color: #00386b;
}

.oddPart img{
    scale: 0.8;
}

.oddPart .oddPartText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.oddPart .oddPartText button{
    color: white;
    border: none;
    font-size: large;
    border-radius: 25px;
    width: 50%;
    min-width: 40%;
    height: 2.5rem;
    background-color: rgba(0,22,42,.3);
}